# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
build/
apps/desktop/src-tauri/target/

# env
.env
.env.local
.env.*.local
!.env.example

# prisma
apps/api/prisma/*.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# turbo
.turbo/

# editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# TS build info
*.tsbuildinfo

# JS emitido por engano dentro de src/
packages/shared/src/*.js
packages/shared/src/*.js.map
